.title {
    writing-mode: vertical-lr;
    margin-top: 50px;
    color: white;
}

.container-box {
    width: 30px;
    height: 600px;
    position: relative;
    margin-left: 300px;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.box {
    width: 150px;
    background-color: rgb(155, 148, 133);
    position: absolute;
    height: 600px;
    top: 0px;
    left: -15px;
    opacity: 0;
    transition: transform 0.3s ease,
    opacity 0.3s ease;
}

.container-box:hover .box {
    opacity: 1;
    transform: translate(20px);
}

.min-box {
    background-color: rgb(155, 148, 133);
    width: 30px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-box:hover .min-box {
    opacity: 0;
}


.list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 170px;
    row-gap: 30px;
    list-style: circle;
}

.text:hover {
    color: orange;
}

.text {
    color: white;
} 
